@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300&display=swap');
@import 'normalize.css';

*,
*:after,
*:before {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

:root {
  --shadow: hsl(0 0% 0% / 0.9);
  --bg: hsl(0 0% 70%);
  --header: hsl(0 0% 65%);
  --lit-header: hsl(0 0% 100%);
  --speed: 2s;
  --ease: linear;
  color-scheme: dark only;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
  background: var(--bg);
  font-family: 'Roboto', sans-serif;
  perspective: 1200px;
  margin: 0;
}

h1 {
  font-size: clamp(4rem, 10vw, 10rem);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  letter-spacing: 1rem;
  background: radial-gradient(var(--lit-header), var(--header) 45%) center;
  -webkit-background-clip: text;
  color: white;
  text-align: center;
  position: relative;
}

h1 span {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--shadow);
  filter: blur(1.5vmin);
  transform: scale(1.05) translate3d(0, 12%, -10vmin);
  animation: shadow-move var(--speed) var(--ease) infinite alternate;
}

@keyframes shadow-move {
  0% {
    transform: scale(1.05) translate3d(-10%, 12%, -10vmin);
  }
  100% {
    transform: scale(1.05) translate3d(10%, 12%, -10vmin);
  }
}

.cloak {
  height: 100%;
  width: 100%;
  transform-origin: 50% 25%;
  background: radial-gradient(
    40% 40% at 50% calc(42%),
    transparent,
    hsl(0 0% 2% / 0.94) 38vmax
  );
}

.cloak__wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.cloak__container {
  height: 250vmax;
  width: 250vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  text-align: center;
  line-height: 1.5;
  width: 90%;
  max-width: 44ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.follow {
  border-radius: 6px;
  border: 1px solid currentColor;
  padding: 0.75rem 4rem;
  text-decoration: none;
  color: currentColor;
  align-self: center;
}

.jey-link img {
  width: 100px;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: clamp(8rem, 12vw, 10rem);
    letter-spacing: 0.5rem;
  }
  .jey-link img {
    width: 90px; /* Reduce logo size */
  }
  .info {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: clamp(10rem, 14vw, 12rem);
    letter-spacing: 0.3rem;
  }
  .jey-link img {
    width: 80px; /* Further reduce logo size */
  }
  .info {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: clamp(8rem, 12vw, 10rem); /* Increase title size */
    letter-spacing: 0.5rem;
  }
  .jey-link img {
    width: 70px; /* Further reduce logo size */
  }
  .info {
    width: 100%;
    font-size: 6rem; /* Increase text size */
  }
  .follow {
    padding: 4rem 7rem; /* Increase button size */
  }
}
